# install flask - components default - #
click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
# ------------------------------------ #

Flask-SQLAlchemy==2.4.3
setuptools==47.3.1
SQLAlchemy==1.3.17
psycopg2==2.8.5  # port: 5432

# ------------------------------------ #
Flask-Bootstrap==3.3.7.1
dominate==2.5.1
visitor==0.1.3

# ------------------------------------ #
#           OAuth
# ------------------------------------ #.
Flask-WTF==0.14.3

# ------------------------------------ #.
Flask-Login==0.5.0
bcrypt==3.1.7
cffi==1.14.0
email-validator==1.1.1

# ------------------------------------ #.
Flask-Bcrypt==0.7.1

# ------------------------------------ #.
gunicorn==20.0.4
dnspython==1.16.0
idna==2.9
pycparser==2.20
six==1.15.0
WTForms==2.3.1