<!--app/catalog/templates/home.html-->
{% extends 'layout.html' %}


{% block content %}
    <div class="container books">
        <div class="row">
        {% for book in books %}
            <div class="col-md-4">
                <img src="static/img/{{ book.image }}" alt="book-img" height="200" width="190" class="img-rounded">
                <h4> Title: {{ book.title }} </h4>
                <p> Authors: {{ book.author }} </p>
                <p> Format: {{ book.book_format }} </p>
                <p> Average Rating: {{ book.avg_rating }} </p>
                <p> Pages: {{ book.num_pages }} </p>
                <p><a href="{{ url_for('main.display_publisher', publisher_id=book.pub_id) }}">Publisher ID: {{ book.pub_id }}</a></p>
                <span class="label label-success"><a href="{{ url_for('main.create_book', pub_id=book.pub_id) }}" style="color: floralwhite"> create </a></span>
                <span class="label label-primary"><a href="{{ url_for('main.edit_book', book_id=book.id) }}" style="color: floralwhite"> edit </a></span>
                <span class="label label-info"><a href="{{ url_for('main.delete_book', book_id=book.id) }}" style="color: floralwhite"> delete </a></span>
                <br>
            </div>
        {% endfor %}
            <div class="linkedin">
                <div class="LI-profile-badge"
                         data-version="v1"
                         data-size="medium"
                         data-locale="pt_BR"
                         data-type="vertical"
                         data-theme="dark"
                         data-vanity="rodrigo-machado-6b0b33177"
                    >
                    <a class="LI-simple-link" href='https://br.linkedin.com/in/rodrigo-machado-6b0b33177?trk=profile-badge'>Rodrigo Machado</a>
                </div>
                <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
            </div>
        </div>
    </div>
{% endblock content %}